#broadcast-container {
    display: none;
    background-color: white;
    width: 90%;
    padding: 20px;
    margin: 0 auto;


    border-radius: 15px;
    box-shadow: 40px 40px 40px 40px #6E60AA;
}

#multicast-container {
    display: none;
    background-color: white;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;



    border-radius: 15px;
    box-shadow: 40px 40px 40px 40px #6E60AA;
}

.mt-5 {
    padding: 20px !important;

}

#student-selection-container {
    display: none;
}

.message-wrapper {
    border-bottom: 2px solid grey;
}

#message_wrapper {
    width: 100%;

}

.message-details {
    display: flex;
    padding: 30px;
    border-bottom: 2px solid grey;
}

.expanded-message div {
    margin-top: 20px;
}

.listItem {
    border-radius: 10px;
}

#messages-container {
    background-color: white;
}

.p-3 {
    overflow: auto;
}