

#broadcast-container{
    display: none;
    background-color: white;
    width: 80%;
    padding: 50px;
    margin: 0 auto;
}

#multicast-container{
    display: none;
    background-color: white;
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
}
#student-selection-container{
    display: none;
}

.message-wrapper{
    border-bottom: 2px solid grey;
}

.message-details{
    display: flex;
    padding: 30px;
    border-bottom: 2px solid grey;
}
.expanded-message div{
    margin-top: 20px;
}
.listItem{
    border-radius: 10px;
}