@import url('https://fonts.cdnfonts.com/css/circular-std');

* {
    font-family: 'Circular', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-style: normal;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {

    background-size: cover;
    background-position: center;
    color: #6C7293;
}

.stu-body {
    background-color: #dddddd !important;
    background-image: none;
    display: flex;
}

.blue {
    background: darkslateblue;

}

.dark-blue {
    background: slateblue
}

.white {
    color: white !important;
}

.black {
    color: black !important;
}



.login-box {
    width: 599px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 18px;
}


.buttons {

    width: 100%;
    margin-top: 60px;
    border: none;
    outline: none;
    height: 60px;
    font-size: 20px !important;
    border-radius: 20px;
    color: #fff;
    background-color: goldenrod;
    text-decoration: none;
    padding-top: 18px;
}

.buttons:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
    color: #000 !important;
}

.stu-body1 {
    display: flex;
    height: 100%;
    max-width: 300px;
    width: 100%;
}

h3 {
    color: #246174 !important;
}

.navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navigation-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF !important;
    box-shadow: -10px 0px 20px 20px rgb(112 144 176 / 18%);
    margin: unset;
    align-items: center;
}

.navigation-top {
    background: darkslateblue !important;
    border: 1px solid black;
    border-left: none;
}

.navigation-top-content {
    display: flex;
    flex-direction: row;
}

.navigation-left {
    padding: 20px;
}

.navigation-right {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.nav-items-wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.nav-link {
    padding: 0;
    color: #246174 !important;
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(122, 122, 122);
}

.status {
    color: goldenrod;
}

.nav-items {
    text-decoration: none;
    margin-right: 20px;
}

.nav-items:hover {
    color: rgb(122, 122, 122);
}

.nav-items:focus {
    color: #000;
}

.content {
    margin: unset;
    width: 100%;
}

.form-control {
    background-color: #d1d1d1 !important;
    width: 50%;
    align-self: center;
    border: 1px solid;
    border-color: #246174;
    box-shadow: 1px 1px 1px 1px #246174;
}

.not {
    height: 100px;
}

.submit {
    height: 75px;

    background-color: #246174 !important;
    color: white;
    margin-top: 50px;
}

.header {

    margin: 0;

    text-align: center;
    font-size: 22px;
    color: #fff;
}

.login {
    margin-top: 20px;
    margin-bottom: 30px;
}

.logout {
    text-decoration: none;
    color: #fff;
}

.login-box p {
    margin-top: 20px !important;
    font-weight: bold !important;
}


.login-box input {

    width: 100%;
    margin-bottom: 30px;


}

.login-box input[type="text"],
input[type="password"] {

    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 13px;


}

.login-signup input[type="text"],
input[type="password"],
input[type="email"] {
    height: 20px;

}



.login-box input[type="submit"] {

    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    color: #fff;
    background-color: #246174;

}


.login-box ::placeholder {

    color: #fff;
}


.login-box input[type="submit"]:hover {

    cursor: pointer;
    background: darkgoldenrod;
    color: #000;
}

.login-box a {
    display: flex;
    justify-content: center;

    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #246174;

}


.name {
    color: white;
}

.td-patients {
    color: white !important;
}

.patients-save {
    display: flex;
    justify-content: center;
}

.patients-save-fields {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.patients-table {
    background-color: #246174 !important;
}

.lower-buttons {
    background: none !important;
}

.form-header {
    font-weight: 700;
    font-size: 36px;
    color: #525770;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.d-flex {
    display: flex;
}

.checkboxes {
    gap: 50px;
}

.patients-save-fields {
    align-items: center;
}

.input-section {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}

.usernamelabel {
    margin-bottom: unset;
    align-self: center;
}

.input-section-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 50px;
}

.send-patient {
    padding: 30px;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 40px 40px 40px 40px rgb(112 144 176 / 18%);
}

.ozgecmistable {
    width: 100% !important;
    height: unset;
}

.ozgecmistable-wrapper {
    margin-bottom: 50px;
}

.column {
    flex-direction: column;
}

.navbutton-section {
    display: flex;
    justify-content: space-around;
}

.previous-btn,
.next-btn {
    padding: 16px;
    background: #246174;
    border: 1px solid;
    border-radius: 10px;
    border-color: #246174;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    width: 130px;
    text-align: center;
}

.new-form {
    width: 90%;
    background-color: #246174;
    height: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-self: center;
}

.new-form-p {
    margin: 0;
    padding: 0;
    align-self: center;
    color: white;
}

.new-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.patients-table {
    align-self: center;
}

.block {
    display: block !important;
}

.none {
    display: none !important;
}

.modal {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    overflow: auto !important;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px !important;
    width: 80% !important;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn {

    position: absolute;
    color: red;
    font-size: 50px;
    right: 20px;
    top: 0;
    cursor: pointer;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-detail-header {
    color: #525770;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.girisimler-header {
    color: #525770;
    font-size: 20px;
}

.custom-select {
    position: relative;
    font-family: Arial;
}



.select-selected {
    background-color: #246174;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #246174;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0px 0px 8px 8px;
}

/* Hide the items when the select box is closed: */

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.form-selection {
    display: flex;
    align-self: center;
}

.stu-hamburger {
    display: none;
    height: 100%;
    max-width: 300px;
    width: 15%;
    background-color: white;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #246174;
}

.hamburger-wrapper {

    padding: 20px;
    cursor: pointer;

}

.closehamburger {
    display: none;
    position: relative;
    color: red;
    font-size: 40px;
    top: -50px;
    cursor: pointer;
}

.table-head {
    color: white;
}

@media screen and (max-width: 900px) {
    .table-head {
        font-size: 14px;
    }

    .stu-body1 {
        display: none;
        position: absolute;
    }

    .navigation-wrapper {
        display: none;
    }

    .stu-hamburger {
        display: block;
    }

    .d-none-resp {
        display: none;
    }

    .d-block-resp {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .send-patient {
        padding: 20px;
    }

    .patients-table {
        padding: 20px !important;
    }

    .table-head {
        font-size: 12px;
    }

    .px-4 {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .form-header {
        font-size: 22px;
    }

    .usernamelabel {
        font-size: 12px;
    }

    .form-control {
        font-size: 12px;
    }
}